<div class="card-body table-responsive">
  <form
    #microsoftUpdateFilter="ngForm"
    class="navbar-form"
    (ngSubmit)="buscar()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input
        name="nome"
        matInput
        required
        placeholder="Nome"
        [(ngModel)]="filtro.nome"
        #Nome="ngModel"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Sobrenome</mat-label>
      <input
        name="sobrenome"
        matInput
        placeholder="SobreNome"
        [(ngModel)]="filtro.sobrenome"
        #SobreNome="ngModel"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cpf</mat-label>
      <input
        name="cpf"
        matInput
        placeholder="Cpf"
        [(ngModel)]="filtro.cpf"
        #Cpf="ngModel"
      />
    </mat-form-field>
    <div style="text-align:center">
      <button
        name="filtro"
        mat-raised-button
        type="submit"
        class="btn btn-white btn-round btn-just-icon"
      >
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
      <button id="btn_novo" type="button" class="btn btn-success btn-novo" routerLink="contato/cadastro"
        ngbTooltip="Novo Contato" style="margin:8px;">{{lblBtnNovo}}</button>       
    </div>
  </form>
</div>
<app-contato-list  
  [pager]="pager"  
></app-contato-list>
