<div layout="column" layout-fill>
  <div align="center" layout="row">
    <mat-card
      class="info-card mat-elevation-z8"
      flex="80"
      style="margin-top: 15px"
    >
      <mat-card-title> Filtro de Contatos </mat-card-title>

      <mat-card-content fxLayout="column" fxLayoutAlign="left">
        <form
          #contatoFilter="ngForm"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          (ngSubmit)="buscar()"
        >
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
              <input
                name="nome"
                matInput
                type="text"
                placeholder="Nome"                
                #nomeField="ngModel"
              />
            </mat-form-field>  
            
            <mat-form-field fxFlex="45">
              <input
                name="sobrenome"
                matInput
                type="text"
                placeholder="Sobrenome"                
                #sobrenomeField="ngModel"
              />
            </mat-form-field>  
          </div>



          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            < <mat-form-field fxFlex="45">
                    <input
                      id="cpf"
                      name="cpf"
                      autocomplete="off"
                      required
                      minlength="11"
                      matInput
                      type="number"
                      class="form-control {{
                        contato.cpf === '' || contato.cpf === undefined
                          ? ''
                          : cpfValido
                          ? 'is-valid'
                          : 'is-invalid'
                      }}"
                      value=""
                      placeholder="CPF"
                      [value]="contato.cpf"
                      #inputCpf
                      (input)="atualizaCpf(inputCpf.value)"
                    />
                  </mat-form-field>
          </div>

          <button
            mat-button
            color="primary"
            type="submit"
            class="btn-buscar"
            style="left: calc(100% - 54%)"            
          >
            Buscar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
